{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "parser": "vue",
  "printWidth": 333,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "singleQuote": true
}
